<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li><a class="nav-link" routerLink="/">Case1</a></li>
  <li><a class="nav-link" routerLink="/case2">Case2</a></li>
  <li><a class="nav-link" routerLink="/case3">Case3</a></li>
  <li><a class="nav-link" routerLink="/match">Match route cost</a></li>
</ul>

<section>
  <router-outlet></router-outlet>
</section>

